[submodule "zprezto"]
	path = zprezto
	url = https://github.com/ppetru/prezto.git
[submodule "config/awesome/themes/awesome-solarized"]
	path = config/awesome/themes/awesome-solarized
	url = git://github.com/cycojesus/awesome-solarized.git
[submodule "vim/plugged/vim-javascript"]
	path = vim/plugged/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/plugged/vim-jsx"]
	path = vim/plugged/vim-jsx
	url = git://github.com/mxw/vim-jsx.git
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/plugged/vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/plugged/vim-codefmt"]
	path = vim/plugged/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "vim/plugged/vim-glaive"]
	path = vim/plugged/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "vim/plugged/vim-maktaba"]
	path = vim/plugged/vim-maktaba
	url = https://github.com/google/vim-maktaba
